
<h1>Formulario de Serie new.</h1>

<%= form_with model: @series, method: :serie do | form | %>
    <div class="col-4">
        <div class="mb-3">
        <%= form.label :name, "Nombre", class:"form-label" %>
        <%= form.text_field :name, class: "form-control" %>
        </div>
    </div>
    <div class="mb-5">
        <%= form.label :synopsis, "Synopsis", class:"form-label" %>
        <%= form.text_area :synopsis, class:"form-control" %>
    </div>

    <div class="mb-5">
        <%= form.label :director, "Director", class:"form-label" %>
        <%= form.text_field :director, class: "form-control" %>
    </div>
    <div class="col-4">
        <%= form.submit "Enviar serie", class: "btn btn-primary" %>
    </div>
<% end %>

